@media screen and (max-width: 500px) {
    
    .body-wrapper {
        overflow-x: hidden;
        position: relative;
    }

    .container {
        max-width: 991px;
    }

    .container-fullwidth {
        max-width: 100%;
    }

    .container-no-padding {
        padding: 0 !important;
    }

    .top-header {
        background: #ffffff;
        display: flex;
        flex-direction: row;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    .top-header-bottom {
        background-color: #0a0a0a;
        padding: 2px;
    }

    .header-image {
        float: left;
        border: none;
        padding: 0;
        background: none;
        cursor: pointer;
    }

    .header-image-size {
        width: 100px;
    }

    .header-buttons {
        display: none;
    }

    .contact-us-button-menu {
        padding-left: 10px !important;
        border-bottom: none !important;
        font-weight: bold;
    }

    .navbar {
        background-color: #f2f2f2;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }
    
    .navbar-toggler {
        border-width: 4px;
    }

    .nav-item {
        padding-left: 10px !important;
        border-bottom: #0a0a0a solid 1px;
        font-size: 20px;
    }

    .contact-us-button {
        display: none;
    }

    .image-container {
        display: flex !important;
        overflow: hidden !important;
        position: relative !important;
        width: 100% !important;  
    }

    .image-style {
        width: 100% !important;
    }

    .image-container img {
        width: auto !important;
        height: 300px !important;
        max-width: none !important;
        min-width: 100% !important;
        vertical-align: top;
    }
      
    .image-text {
        position: absolute;
        top: 10%;
        left: 0%;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 15px;
    }

    .image-text h2 {
        width: fit-content;
        font-size: 48px;
    }

    .image-text p {
        font-size: 20px;
    }

    .services-header {
        padding-top: 30px;
        text-align: center;
        color: #0a0a0a;
    }

    .services-header h2 {
        font-size: 3em;
        font-weight: bold;
    }

    .services-description {
        text-align: center;
        padding-bottom: 20px;
    }

    .services-description p {
        font-weight: bold;
    }

    .col-space {
        margin: 0 30px !important;
    }

    .col {
        flex: 0 1 auto !important;
    }

    .services-columns {
        background-color: #64b445;
        text-align: center;
        color: whitesmoke;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 30px;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        border: #000 solid 2px;
    }

    .services-columns h3 {
        display: inline-block;
        padding: 4px 15px;
        border-color: #f2f2f2 !important;
        font-size: 35px;
    }

    .services-columns p {
        text-shadow: none;
        font-size: 20px;
        color: #000;
        font-weight: 500;
        padding: 0 10px;
    }

    .column-images img {
        width: 100%;
        border-bottom: #000 solid 2px;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
    }

    .wave-effect {
        position: relative;
        display: flex;
        flex-direction: column !important;
        color: #ffffff;
    }

    .wave-effect svg {
        fill: currentColor;
    }

    .customer-section {
        background: rgb(34,34,34);
        background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(102,102,102,1) 50%, rgba(34,34,34,1) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .customer-section-image {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
    }

    .customer-section-image img {
        border: #0a0a0a solid 3px;
    }

    .customer-section-quote {
        background: rgb(34,34,34);
        background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(102,102,102,1) 50%, rgba(34,34,34,1) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        color: #f2f2f2;
        font-style: italic;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .customer-section-quote h2 {
       font-size: 4vw;
    }

    .contact-information-section {
        margin: 30px;
        text-align: center; 
        align-items: center !important;
        border: #0a0a0a solid 3px !important;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
    }

    .contact-information-section h2 {
        font-size: 48px !important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9), -2px -2px 4px rgba(0, 0, 0, 0.9) !important;
        margin-bottom: 30px;
    }

    .contact-boxes {
        display: flex;
        justify-content: space-between;
        align-items: center !important;
        flex-direction: row;
        flex-wrap: wrap;
        border: #0a0a0a solid 3px;
        background-color: #64b445;
        margin-bottom: 10px;
    }

    .contact-boxes img {
        width: 50px;
        margin: 5px;
    }

    .contact-boxes h3 {
        margin: 0px auto;
        color: #f2f2f2;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
        font-size: 20px;
    }

    .contact-boxes-form {
        display: flex;
        justify-content: space-between;
        align-items: center !important;
        flex-direction: row;
        flex-wrap: wrap;
        border: #0a0a0a solid 3px;
        background-color: #64b445;
        margin-bottom: 10px;
    }

    .contact-boxes-form h3 {
        margin: 0px auto;
        color: #f2f2f2;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
        font-size: 20px;
    }

    .contact-boxes-form img {
        width: 50px;
        margin: 5px;
    }

}

@media screen and (min-width: 501px) and (max-width: 991px) {
    
    .body-wrapper {
        overflow-x: hidden;
        position: relative;
    }

    .container {
        max-width: 991px;
    }

    .container-fullwidth {
        max-width: 100%;
    }

    .container-no-padding {
        padding: 0 !important;
    }

    .top-header {
        background: #ffffff;
        display: flex;
        flex-direction: row;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    .top-header-bottom {
        background-color: #0a0a0a;
        padding: 2px;
    }

    .header-image {
        float: left;
        border: none;
        padding: 0;
        background: none;
        cursor: pointer;
    }

    .header-image-size {
        width: 100px;
    }

    .header-buttons {
        display: none;
    }

    .contact-us-button-menu {
        padding-left: 10px !important;
        border-bottom: none !important;
        font-weight: bold;
    }

    .navbar {
        background-color: #f2f2f2;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }
    
    .navbar-toggler {
        border-width: 4px;
    }

    .nav-item {
        padding-left: 10px !important;
        border-bottom: #0a0a0a solid 1px;
        font-size: 20px;
    }

    .contact-us-button {
        display: none;
    }

    .image-container {
        display: flex !important;
        overflow: hidden !important;
        position: relative !important;
        width: 100% !important;  
    }

    .image-style {
        width: 100% !important;
    }

    .image-container img {
        width: 100% !important;
        height: auto !important;
        max-width: none !important;
        min-width: 100% !important;
        vertical-align: top;
    }
      
    .image-text {
        position: absolute;
        top: 10%;
        left: 0%;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 15px;
    }

    .image-text h2 {
        width: fit-content;
        font-size: 48px;
    }

    .image-text p {
        font-size: 20px;
    }

    .services-header {
        padding-top: 30px;
        text-align: center;
        color: #0a0a0a;
    }

    .services-header h2 {
        font-size: 3em;
        font-weight: bold;
    }

    .services-description {
        text-align: center;
        padding-bottom: 20px;
    }

    .services-description p {
        font-weight: bold;
    }

    .col-space {
        margin: 0 30px !important;
    }

    .col {
        flex: 0 1 auto !important;
    }

    .services-columns {
        background-color: #64b445;
        display: flex !important;
        text-align: center;
        color: whitesmoke;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 30px;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        border: #000 solid 2px;
    }

    .services-columns h3 {
        display: inline-block;
        padding: 4px 15px;
        border-color: #f2f2f2 !important;
        font-size: 35px;
    }

    .services-columns p {
        text-shadow: none;
        font-size: 20px;
        color: #000;
        font-weight: 500;
    }

    .services-columns-text {
        padding: 0px 10px !important;
    }

    .column-images img {
        width: 200px !important;
        height: 100% !important;
        max-width: none !important;
        min-width: 100% !important;
        vertical-align: top;
        border-right: #000 solid 2px;
        border-top-left-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
    }

    .wave-effect {
        position: relative;
        display: flex;
        flex-direction: column !important;
        color: #ffffff;
    }

    .wave-effect svg {
        fill: currentColor;
    }

    .customer-section {
        background: rgb(34,34,34);
        background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(102,102,102,1) 50%, rgba(34,34,34,1) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .customer-section-row {
        margin: 40px 30px;
        border: #0a0a0a solid 3px !important;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .customer-section-image {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
    }

    .customer-section-image img {
        border: #0a0a0a solid 3px;
    }

    .customer-section-quote {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        color: #f2f2f2;
        font-style: italic;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .customer-section-quote h2 {
       font-size: 4vw;
    }

    .contact-information-section {
        margin: 30px;
        text-align: center; 
        align-items: center !important;
        border: #0a0a0a solid 3px !important;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
    }

    .contact-information-section h2 {
        font-size: 48px !important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9), -2px -2px 4px rgba(0, 0, 0, 0.9) !important;
        margin-bottom: 30px;
    }

    .contact-boxes {
        display: flex;
        justify-content: center;
        align-items: center !important;
        flex-direction: row;
        flex-wrap: wrap;
        border: #0a0a0a solid 3px;
        background-color: #64b445;
        margin-bottom: 10px;
    }

    .contact-boxes img {
        width: 75px;
        margin: 5px;
    }

    .contact-boxes h3 {
        color: #f2f2f2;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
        font-size: 25px;
    }

    .contact-boxes-form {
        display: flex;
        justify-content: center;
        align-items: center !important;
        flex-direction: row;
        flex-wrap: wrap;
        border: #0a0a0a solid 3px;
        background-color: #64b445;
        margin-bottom: 10px;
    }

    .contact-boxes-form h3 {
        color: #f2f2f2;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
        font-size: 25px;
    }

    .contact-boxes-form img {
        width: 75px;
        margin: 5px;
    }

}

@media screen and (min-width: 992px) {
    
    .body-wrapper {
        overflow-x: hidden;
        position: relative;
    }

    .top-header {
        background: #ffffff;
        display: flex;
        flex-direction: row;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    .top-header-bottom {
        background-color: #0a0a0a;
        padding: 2px;
    }

    .header-image {
        float: left;
        border: none;
        padding: 0;
        background: none;
        cursor: pointer;
    }

    .header-image-size {
        width: 100px;
    }

    .header-buttons {
        display: none;
    }

    .contact-us-button-menu {
        display: none;
    }

    .contact-us-button {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 25px;
        font-weight: bold;
        display: flex;
        margin-left: auto !important;
        border: 2px solid #0a0a0a;
        color: #ffffff;
        padding: 0px 20px;
        border-radius: 10px;
        background-color: #64b445 !important;
        background: none;
        cursor: pointer;
    }

    .contact-us-button:hover {
        background: rgb(100,180,69) !important;
        background: radial-gradient(circle, rgba(100,180,69,1) 0%, rgba(78,152,50,1) 100%) !important;
    }

    .navbar {
        background-color: #f2f2f2;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }
    
    .navbar-toggler {
        border: none;
    }

    .nav-item {
        padding: 6px 20px !important;
        font-size: 20px;
    }

    .nav-item:hover {
        text-decoration-color: rgba(0, 0, 0, 0.7) !important;
        text-decoration: underline !important;
    }

    .navbar-nav {
        display: flex !important;
    }
      
    .navbar-nav .nav-item {
        margin-right: 10px !important;
    }
      
    .navbar-nav .ml-auto {
        margin-left: auto !important;
    }

    .container-no-padding {
        padding: 0 !important;
    }

    .container-fullwidth {
        max-width: none !important;
    }

    .image-container {
        display: flex !important;
        overflow: hidden !important;
        position: relative !important;
        width: 100% !important;   
    }

    .image-style {
        height: 435px !important;
        padding: 0 !important;
        top: 0 !important;
        width: 100% !important;
        z-index: 0 !important;
    }

    .image-container img {
        width: 100% !important;
        height: auto !important;
        max-width: none !important;
        min-width: 100% !important;
        vertical-align: top;
    }
      
    .image-text {
        position: absolute;
        top: 10%;
        left: 0%;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 15px;
    }

    .image-text h2 {
        width: fit-content;
        font-size: 4em;
    }

    .image-text p {
        font-size: 2em;
    }
      
    .section-divider {
        display: none;
    }

    .services-header {
        padding-top: 30px;
        text-align: center;
        color: #0a0a0a;
    }

    .services-header h2 {
        font-size: 4em;
        font-weight: bold;
    }

    .services-description {
        text-align: center;
        padding-bottom: 20px;
    }

    .services-description p {
        font-weight: bold;
    }

    .col-space {
        margin: 0 30px !important;
    }

    .services-columns {
        background-color: #64b445;
        text-align: center;
        color: whitesmoke;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 30px;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5), -2px -2px 15px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        border: #000 solid 2px;
    }

    .services-columns h3 {
        display: inline-block;
        padding: 4px 15px;
        border-color: #f2f2f2 !important;
    }

    .services-columns p {
        text-shadow: none;
        color: #000;
        font-weight: 500;
        padding: 0 10px;
    }

    .column-images img {
        width: 100%;
        border-bottom: #000 solid 2px;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
    }

    .wave-effect {
        position: relative;
        display: flex;
        flex-direction: column !important;
        color: #ffffff;
    }

    .wave-effect svg {
        fill: currentColor;
    }

    .customer-section {
        background: rgb(34,34,34);
        background: linear-gradient(180deg, rgba(34,34,34,1) 0%, rgba(102,102,102,1) 50%, rgba(34,34,34,1) 100%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .customer-section-row {
        margin: 30px !important;
        display: flex;
        flex-direction: row !important;
        border: #0a0a0a solid 3px !important;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .customer-section-image {
        padding-left: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
    }

    .customer-section-image img {
        border: #0a0a0a solid 3px;
    }

    .customer-section-quote {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        color: #f2f2f2;
        font-style: italic;
        padding-left: 10px;
        padding-right: 10px;
        right: auto;
    }

    .contact-information-section {
        margin: 30px;
        text-align: center; 
        align-items: center !important;
        border: #0a0a0a solid 3px !important;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
    }

    .contact-information-section h2 {
        font-size: 64px !important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9), -2px -2px 4px rgba(0, 0, 0, 0.9) !important;
        margin-bottom: 30px;
    }

    .contact-boxes {
        display: flex;
        justify-content: center;
        align-items: center !important;
        flex-direction: row;
        flex-wrap: wrap;
        border: #0a0a0a solid 3px;
        background-color: #64b445;
        margin-bottom: 10px;
    }

    .contact-boxes img {
        width: 75px;
        margin: 5px;
    }

    .contact-boxes h3 {
        color: #f2f2f2;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
        font-size: 40px;
    }

    .contact-boxes-form {
        display: flex;
        justify-content: center;
        align-items: center !important;
        flex-direction: row;
        flex-wrap: wrap;
        border: #0a0a0a solid 3px;
        background-color: #64b445;
        margin-bottom: 10px;
    }

    .contact-boxes-form h3 {
        color: #f2f2f2;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
        font-size: 40px;
    }

    .contact-boxes-form img {
        width: 75px;
        margin: 5px;
    }

}
